{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h3>About</h3>
        <p>Pizza was first invented in Naples, Italy as a fast, affordable, tasty meal for working-class Neapolitans on the go. 
          While we all know and love these slices of today, pizza actually didn't gain mass appeal until the 1940s, when immigrating 
          Italians brought their classic slices to the United States.</p>
          <hr>
          <p>
            Pizza became as popular as it did in part because of the sheer number of Italian immigrants: 
            they made up 4 million of the 20 million immigrants who came to the U.S. between 1880 and 1920. 
            With them, they brought their taste buds and pizza-making skills. ... 
            This is partly because pizza's not exactly Italian to begin with.</p>
      </div>
    </div>
  </div>
{% endblock %}