{% extends 'base.html' %}
{% block content %}
<div class="container greeting">
  <div class="row center">
    <h3>Your bookings</h3>
  </div>
  {% for booking in bookings %}
  <div class="row">
    <div class="col s12">
      <table>
        <thead>
          <tr>
            <th>For</th>
            <th>People</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
        </thead>
        <tr>
          <td>{{ booking.name }}</td>
          <td>{{ booking.people }}</td>
          <td>{{ booking.date }}</td>
          <td>{{ booking.time }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn-small btn-bookings" href="{% url 'manage' booking.id %}" id="{{ booking.id }}">Manage</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}