{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 center">
      <div class="row">
        <h5>Booking Form</h5>
        <form class="col s12" method="POST">
          {% csrf_token %}
          {{ form.as_table }}
          <div>
              <p>
                  <button class="btn waves-effect waves-light" type="submit">Book Now</button>
              </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}