{% extends 'base.html' %}
    {% block body %}
    <div class="row">
      <div class="col s12 m8 l6">
       <div>
        <strong>Menu:</strong>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
          <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}">Sign In</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
     </div>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}