{% load static %}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }


main {
    flex: 1 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.greeting {
    color: white;
    background-color: rgb(36, 20, 20);
    opacity: 0.6;
    border-radius: 2rem;
    margin-top: 2rem;
}

h3, p, .forminput {
    color: white;
}

.sidenav li>a {
    color: white;
    font-size: 2rem;
    margin: 2rem;
}



