{% load static %}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
  }


main {
    flex: 1 0 auto;
}

.background-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 15vh;
    z-index: -1;

}

h3, p, .forminput, input {
    color: black;
}

.sidenav li>a {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.waves-effect {
    margin-top: 30px;
    margin-bottom: 30px;
}

.ux {
    margin-right: 3%;
    margin-left: 3%;
}

.booking-cancelled {
    text-decoration: line-through;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.material-icons, li>a {
    color: white !important;
}

li>a:hover {
    transition-duration: 1s;
}

.dropdown-trigger-mobile {
    font-size: 1.5rem !important;
}


.btn-bookings {
    margin-top: 10px;
}

/* Custom styling for messages django */

.msg {
    border-radius: 0.3rem;
    padding: 0.6rem;
    text-align: center;
    opacity: 0.8;
}

.success {
    background-color: rgb(212, 244, 212);
    color: rgb(15, 69, 15);
}

.error {
    background-color: rgb(230, 171, 171);
    color: rgb(131, 4, 4);
}

.warning {
    background-color: rgb(233, 222, 183);
    color: rgb(112, 94, 14);
}

.info {
    background-color: rgb(224, 224, 224);
    color: rgb(84, 83, 83);
}

/*Google signin align to center*/
.g-signin2{
    width: 100%;
}

.g-signin2 > div{
    margin: 0 auto;
}