{% load static %}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
  }


main {
    flex: 1 0 auto;
}

.background-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 15vh;
    z-index: -1;

}

h3, p, .forminput, input {
    color: black;
}

.sidenav li>a {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.waves-effect {
    margin-top: 30px;
    margin-bottom: 30px;
}

.ux {
    margin-right: 3%;
    margin-left: 3%;
}

.booking-cancelled {
    text-decoration: line-through;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.material-icons, li>a {
    color: white !important;
}

li>a:hover {
    transition-duration: 1s;
}

.dropdown-trigger-mobile {
    font-size: 1.5rem !important;
}
/*Google signin align to center*/
.g-signin2{
    width: 100%;
}

.g-signin2 > div{
    margin: 0 auto;
}